// Some colors.
$dark: #050400;

// Bootstrap customization.
$brand-primary: #A63F92 !default;

// Bootstrap.
@import "bower_components/bootstrap/scss/bootstrap.scss";

// A full-width, colorful section of the page.
.page-section {
    @extend .container-fluid;
    padding: 1rem 2rem;
}

header {
    @extend .page-section;
    background: $brand-primary;
    color: white;
}

main {
    @extend .page-section;
}

// Dingus style.
@import "dingus/dingus.tools.scss";

.sscdingus {
    // Bootstrap "grid" row.
    @extend .row;
    .input, .output {
        @include make-col();
    }

    // On "small" devices and up, show in two columns.
    @include media-breakpoint-up(sm) {
        .input {
            @include make-col();
            @include make-col-span(8);
        }
        .output {
            @include make-col();
            @include make-col-span(4);
        }
    }

    // Output box takes up the whole width on small devices.
    @include media-breakpoint-down(sm) {
        .output {
            width: 100%;
        }
    }
}
