// Some colors.
$dark: #050400;

// Bootstrap customization.
$brand-primary: #A63F92 !default;

// Bootstrap.
@import "bower_components/bootstrap/scss/bootstrap.scss";

// A full-width, colorful section of the page.
.page-section {
    @extend .container-fluid;
    padding: 1rem 2rem;
}

header {
    @extend .page-section;
    background: $brand-primary;
    color: white;
}

main {
    @extend .page-section;
}
