/* Fonts! */
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
}
pre, textarea {
    font-family: 'Anonymous Pro', Inconsolata, Consolas, 'Source Code Pro', Menlo, Monaco, monospace;
}

/* Columns on wide, stacked on narrow. At an intermediate width, they're
   50/50; otherwise, make sure the code is wide enough. */
#input, #output {
    width: 100%;
}
@media (min-width: 900px) {
    #input, #output {
        float: left;
    }
    #input {
        width: calc(500px);
    }
    #output {
        width: calc(98% - 500px);
    }
}
@media (min-width: 1020px) {
    #input, #output {
        width: 49%;
    }
}

/* Make the code input as tall as possible when in columns, and with a fixed
   height when we don't. */
textarea {
    width: calc(100% - 2em);
    height: 60ex;
}
@media (min-width: 900px) {
    #input, #output {
        height: calc(100vh - 7ex);
    }
    textarea {
        height: 100%;
    }
    #compiled {
        height: calc(100vh - 300px - 13ex);
    }
}

/* The toolbar. */
#tools {
    height: 2em;
    margin-top: 0.5ex;
}
#tools > * {
    float: left;
    margin: 0 0.5em 0 0;
}

/* Output boxes hidden initially. */
#error, #result {
    display: none;
    clear: both;
}

/* Tiny output code. */
#compiled {
  font-size: 60%;
  overflow: auto;
}

/* When the output is a WebGL canvas, make it big. */
#result.visual {
    height: 300px;
}

/* The syntax tree diagram. */
#tree {
    height: 30ex;
}
#tree .node text {
  font-size: 80%;
}
#tree .link {
  fill: none;
  stroke: #ddd;
  stroke-width: 2px;
}
