/* The toolbar. */
#tools {
    height: 2em;
    margin-top: 0.5ex;
}
#tools > * {
    float: left;
    margin: 0 0.5em 0 0;
}

/* Output boxes hidden initially. */
#error, #result {
    display: none;
    clear: both;
}
#fps {
    display: none;
}

/* Tiny output code. */
#compiled {
  font-size: 60%;
  overflow: auto;
}

/* When the output is a WebGL canvas, make it big. */
#visual {
    height: 300px;
}

/* Framerate display. */
#fps {
  text-align: right;
  font-size: 80%;
}
#fps::after {
  content: " fps";
}

/* The syntax tree diagram. */
#tree {
    height: 30ex;
}
#tree .node text {
  font-size: 80%;
}
#tree .link {
  fill: none;
  stroke: #ddd;
  stroke-width: 2px;
}
